@import "../src/variables";

@keyframes blink {
  30% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
}

.Home {
  &__cta {
    margin: 0 auto -40px;
    width: 100%;
    background: white;
    border-radius: 2px;
    position: relative;
    z-index: 2;
    background: linear-gradient(
      -7deg,
      darken($primary, 15%),
      lighten($primary, 5%)
    );
    box-shadow: 0px 2px 1px -1px rgba($dark, 0.2),
      0px 1px 1px 0px rgba($dark, 0.14), 0px 1px 3px 0px rgba($dark, 0.12);

    h3 {
      color: white;
      margin: 0;
    }
  }

  &__about-me {
    display: flex;
    align-items: flex-end;
    width: 100%;
    position: relative;
    z-index: 2;
    flex-direction: column;

    @media (min-width: $md) {
      flex-direction: row;
      margin-bottom: 8rem;
    }

    & > figure,
    & > div {
      @media (min-width: $lg) {
        width: 50%;
      }
    }

    & > figure {
      @media (max-width: $max-lg) {
        width: 30%;
      }

      @media (max-width: $max-md) {
        margin: 0 auto 1rem;
        width: 100%;
        max-width: 180px;
      }
    }

    & > div {
      position: relative;
      z-index: 1;

      @media (max-width: $max-lg) {
        width: 70%;
      }

      @media (max-width: $max-md) {
        width: 100%;
        max-width: 40rem;
        margin-right: auto;
        margin-left: auto;
      }
    }

    img {
      display: block;
      width: 100%;
      height: auto;

      @media (min-width: $md) {
        margin-left: -20px;
        margin-right: -40px;
        transform: translateY(30px);
        width: calc(100% + 60px);
      }

      @media (min-width: $lg) {
        margin-left: 0;
        transform: translateX(20px) translateY(60px);
        padding-right: 4rem;
        max-width: 700px;
      }
    }
  }

  .HomeHeader + .WorkCTA {
    padding-bottom: 80px;

    @media (min-width: $md) {
      padding-bottom: 110px;
    }
  }

  .WorkCTA + .Cases {
    margin-top: -80px;

    @media (min-width: $md) {
      margin-top: -90px;
    }
  }

  .container + .WorkCTA {
    @media (min-width: $md) {
      padding-bottom: 40px;
    }
  }
}
