@import "./variables.scss";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
button,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

::selection {
  background: $primary;
  color: white;
}

h1 {
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 500;
  line-height: 0.875em;
  margin-bottom: 0.5em;
  color: $secondary;

  @media (min-width: $xs-sm) {
    font-size: 44px;
  }

  @media (min-width: $sm) {
    font-size: 50px;
  }

  @media (min-width: $md) {
    font-size: 60px;
  }

  @media (min-width: $lg) {
    font-size: 80px;
  }
}

h2 {
  font-family: "Poppins";
  font-size: 34px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.032em;
  line-height: 0.875em;
  max-width: 10em;
  margin-bottom: 0.5em;
  color: $secondary;

  @media (min-width: $xs-sm) {
    font-size: 41px;
  }

  @media (min-width: $sm) {
    font-size: 42px;
  }

  @media (min-width: $md) {
    font-size: 46px;
  }

  @media (min-width: $lg) {
    font-size: 54px;
  }

  span {
    // color: rgba($primary, 0.95);
    color: lighten($primary, 2.5%);
  }
}

h3 {
  font-family: "Poppins";
  font-size: 32px;
  font-weight: 700;
  line-height: 0.875em;
  margin-bottom: 0.5em;
  color: $secondary;

  @media (min-width: $md) {
    font-size: 38px;
  }

  @media (min-width: $lg) {
    font-size: 42px;
  }

  @media (min-width: $lg-xl) {
    font-size: 44px;
  }
}

h4 {
  font-family: "Poppins";
  font-size: 26px;
  font-weight: 700;
  line-height: 0.875em;
  margin-bottom: 0.5em;
  color: $secondary;

  @media (min-width: $md) {
    font-size: 30px;
  }
}

p {
  font-size: 0.96rem;
  font-weight: 500;
  max-width: 40em;
  line-height: 1.65em;
  margin-bottom: 0.75em;
  color: rgba($secondary, 0.8);

  @media (min-width: $sm) {
    font-size: 1rem;
  }

  &.large {
    letter-spacing: 0.02em;
    line-height: 1.45em;
    color: rgba($secondary, 0.9);
    font-weight: 400;

    @media (min-width: $md) {
      font-size: 20px;
    }
  }

  &.small {
    font-size: 14px;
    font-weight: 400;
  }

  &.sub {
    text-transform: uppercase;
    font-size: 0.7rem;
    color: $primary;
    font-weight: 700;
    letter-spacing: 0.08em;
    padding: 0.15em 0.5em 0;
    border-radius: 2px;
    background: rgba($primary, 0.1);
    display: inline-block;

    @media (min-width: $xs-sm) {
      font-size: 0.75rem;
    }

    @media (min-width: $md) {
      font-size: 1rem;
    }
  }

  a {
    display: inline-block;
    color: rgba($secondary, 0.8);
    font-weight: 700;
    text-decoration: none;
    line-height: 1.15em;
    padding: 2px 0 0;
    border-bottom: 2px solid rgba($primary, 0.6);

    &:hover,
    &:focus {
      background: rgba($dark, 0.1);
    }
  }
}

strong {
  font-weight: 700;
}

.btns {
  @media (max-width: $max-md) {
    text-align: center;
    padding-bottom: 1rem;
  }
}

.btn {
  background: 0;
  cursor: pointer;
  border-radius: 3px;
  display: inline-block;
  font-family: "Poppins";
  font-weight: 700;
  color: $secondary;
  padding: 1.25em 2.5em;

  &:not(.btn--primary) {
    text-decoration: underline;
  }

  &--white {
    color: rgba(white, 0.8);

    &:hover,
    &:focus {
      color: rgba(white, 0.9);
    }
  }

  &--primary {
    text-decoration: none;
    margin-top: 2.5em;
    font-size: 13px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    background-color: $primary;
    background: linear-gradient(
      to bottom right,
      lighten($primary, 5%),
      darken($primary, 5%)
    );
    color: white;
    box-shadow: 0 5px 15px 0 rgba($dark, 0.125);

    @media (min-width: $md) {
      margin-top: 3em;
    }

    @media (max-width: $max-md) {
      display: block;
      width: 100%;
      padding-right: 4em;
      padding-left: 4em;
    }

    &:hover,
    &:focus {
      background: darken($primary, 4%);
    }
  }
}

.container {
  margin: 0 2vw;
}

.inner {
  margin-right: auto;
  margin-left: auto;
  padding: 20px 1vw;
  width: 100%;
  max-width: $max-lg-xl;

  @media (min-width: $xs-sm) {
    padding-right: 3vw;
    padding-left: 3vw;
  }

  @media (min-width: $md) {
    padding: 40px 2vw;
  }

  @media (min-width: $lg) {
    padding: 60px 80px;
  }
}

.logo {
  display: block;
  pointer-events: none;
  user-select: none;
  margin: 0 auto 2rem;
  width: 300px;
  height: 300px;
  background-color: $dark;
  background: radial-gradient($secondary, darken($dark, 5%));
  border-radius: 50%;
  border: 16px solid $primary;
  display: flex;
  align-items: center;
  justify-content: center;

  &--animated {
    position: relative;
    box-shadow: 0 0 75px 25px rgba($primary, 0.2);

    &::before {
      content: "";
      position: absolute;
      top: -16px;
      right: -16px;
      bottom: -16px;
      left: -16px;
      border-radius: 50%;
      border-top: 16px solid rgba(white, 0.15);
      border-bottom: 16px solid rgba(white, 0.1);
      z-index: 2;
    }

    &::after {
      content: "";
      position: absolute;
      top: -16px;
      right: -16px;
      bottom: -16px;
      left: -16px;
      border-radius: 50%;
      border-top: 16px solid darken($primary, 8%);
      border-right: 16px solid darken($primary, 8%);
      border-bottom: 16px solid darken($primary, 8%);
      z-index: 1;
    }
  }

  div {
    background: -webkit-linear-gradient(white, lighten($dark, 66%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
    font-size: 180px;
    font-weight: 900;
    font-family: "Poppins";
  }
}

.MuiSnackbarContent-root {
  background-color: white !important;
  border-radius: 3px !important;
  box-shadow: 0px 3px 5px -1px rgba($secondary, 0.2),
    0px 6px 10px 0px rgba($secondary, 0.14),
    0px 1px 18px 0px rgba($secondary, 0.12) !important;

  .MuiSnackbarContent-message,
  .MuiButton-label {
    color: $secondary !important;
  }

  .MuiSnackbarContent-message {
    font-weight: 500 !important;
  }

  .MuiButton-label {
    font-weight: 700 !important;
  }
}
